# Server Port
PORT=5000

# Choose active database: 'local' (MongoDB Compass) or 'live' (MongoDB Atlas)
DB_MODE=local

# Local MongoDB (Compass)
MONGODB_LOCAL_URI=mongodb://127.0.0.1:27017/portfolio

# MongoDB Atlas (Cloud)
MONGODB_ATLAS_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/portfolio?retryWrites=true&w=majority
